body {
  background: #3FA6C0;
  
}


.sky {
  background: url('../../assets/sky.png');
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigcloud {
  position: absolute;
  bottom: 330px;
  left: 40px;
  width: 50%;
  z-index: 1;
  animation: move 550s infinite;
}

.cloud1 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40%;
  z-index: 1;
}

.cloud2 {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 20%;
  z-index: 1;
  
}

.backgroundfield {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 103vw;
  z-index: 3;
}

.house {
  position: absolute;
  right: 0;
  bottom: -100px;
  width: 52vw;
  z-index: 4;
}

.grassForeground {
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 103vw;
  z-index: 5;  
}

.backgroundfield, .house, .grassForeground{
  transition: bottom 0.5s ease-in-out;
}


/* VERSION TABLETTE */

@media screen and (max-width:940px) {

  
  .backgroundfield {
    bottom: 30px;
  }
  .house{
    bottom: -20px;
  }

  .grassForeground{
    bottom: -20px;
  }
}
/* VERSION MOBILE */

@media screen and (max-width:768px) {
  .backgroundfield {
    bottom: 30px;
  }
  .house{
    bottom: -20px;
  }

  .grassForeground{
    bottom: -20px;
  }
}

@keyframes move {
  0%{
    transform: translateX(0);
  } 50%{
    transform: translateX(50vw);
  } 100% {
    transform: translateX(0);
  }
  
}